[ req ]
default_bits        = 4096
default_keyfile     = ca_key.pem
distinguished_name  = req_distinguished_name
x509_extensions     = v3_ca
prompt              = no

[ req_distinguished_name ]
C                     = RU
ST                    = Samara
L                     = Samara
O                     = No
OU                    = No
CN                     = localhost
emailAddress          = email@example.com

[ v3_ca ]
subjectKeyIdentifier  = hash
authorityKeyIdentifier= keyid:always,issuer
basicConstraints      = critical, CA:true
keyUsage              = critical, digitalSignature, cRLSign, keyCertSign

[ v3_srv ]
keyUsage              = critical, digitalSignature, keyEncipherment
extendedKeyUsage      = serverAuth
subjectAltName        = @srv_alt_names

[srv_alt_names]
DNS.1 = localhost

[ v3_req ]
keyUsage              = critical, digitalSignature, keyEncipherment
extendedKeyUsage      = clientAuth
subjectAltName        = @alt_names

[ alt_names ]
DNS.1 = localhost
